
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: forum;
    
}
body {
    background-image: url('../public/background_website.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
  }