@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: forum;
}
body {
  background-image: url("../background-light.jpg");
}
