
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: forum;
    
}
body {
    background-image: url('/background_website.jpg');
   
   
  }